<h1>This is teh secret page!</h1>

<p>You found me!</p>

<img src="https://cdn.pastemagazine.com/www/articles/trumpnato1main.jpg">

<li>>
  <a href="/register">Sign Up!</a>
  <a href="/login">Login!</a>
  <a href="/logout">Logout!</a>
</li>